body {
	font-family: 'Roboto', sans-serif;
}

/*darle el estilo de letra al placeholder de los input*/
input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
}
input:-moz-placeholder {
  	font-family: 'Roboto', sans-serif;
}
input:-ms-input-placeholder { 
  	font-family: 'Roboto', sans-serif;
}

/* Hace que el cursor haga parecer que se pueda hacer click sobre el objeto que tenga esta clase */
.clickable {
	cursor: pointer;
}

.rounded {
	border-radius: 5px;
}

.card-bg-inverse {
	background-color: #333; 
	border-color: #333;
}

.danger{
	/* este border color, es el mismo que el que provee boostrap */
	border-color: #d9534f; 
}
